<h1><%= @workout.name %></h1>

<ul>
  <li>Category: <%= @workout.category %></li>
  <li>Age range: <%= @workout.age_range %></li>
  <li>Description: <%= @workout.description %></li>
  <li>Exercises:
  <% @workout.exercises.each do |workout| %>
    <ul>
      <li><%= link_to workout.name, exercise_path(workout) %></li>
    </ul>
  <% end %>
   </li>
</ul>

<div class="controls">
  <div class="container">
    <%= button_to 'Select Workout', { :action => 'select' }, :data => { :confirm => 'Are you sure?'}, :class => 'btn btn-outline-primary' %>
  </div>

  <%= link_to 'Edit Workout', edit_workout_path(@workout) %>
  <%= link_to 'Delete Workout', @workout, :method => 'delete', :data => { :confirm => 'Are you sure?'} %>
</div>
