<h1>Entry View</h1>

<h2><%= @measurement.created_at.strftime '%l:%M %p - %B %e, %Y' %> </h2>

<ul>
  <li>Weight: <%= @measurement.weight %> kg</li>
  <li>Height: <%= @measurement.height %> cm</li>
  <li>Body-fat: <%= @measurement.body_fat %> %</li>
</ul>



<div class="controls">
  <%= link_to 'Edit Measurement', edit_measurement_path(@measurement) %>
  <%= link_to 'Delete Measurement', @measurement, :method => 'delete', :data => { :confirm => 'Are you sure?'} %>
</div>
