<h1><%= @exercise.name %></h1>


<ul>
  <li>Body Area: <%= @exercise.body_area %></li>
  <li>Description: <%= @exercise.description %></li>
  <li>Found in:
    <% @exercise.workouts.each do |exercise| %>
      <ul>
        <li><%= exercise.name %></li>
      </ul>
    <% end %> </li>
  <li>Video:</li>
  <%= get_video_iframe(@exercise.video) %>
</ul>





<div class="controls">
  <%= link_to 'Edit Exercise', edit_exercise_path(@exercise) %>
  <%= link_to 'Delete Exercise', @exercise, :method => 'delete', :data => { :confirm => 'Are you sure?'} %>
</div>
