<div class="container">
  <h1><%= @exercise.name %></h1>
</div>

<div class="container">
  <ul>
    <li>Body Area: <%= @exercise.body_area %></li>
    <li>Description: <%= @exercise.description %></li>
    <li>Found in:
      <% @exercise.workouts.each do |exercise| %>
        <ul>
          <li><%= link_to exercise.name, workout_path(exercise) %></li>
        </ul>
      <% end %> </li>
    <li>Video:</li>
    <%= get_video_iframe(@exercise.video) %>
  </ul>
</div>

<div class="container">
  <div class="controls">
    <%= link_to 'Edit Exercise', edit_exercise_path(@exercise) %>
    <%= link_to 'Delete Exercise', @exercise, :method => 'delete', :data => { :confirm => 'Are you sure?'} %>
  </div>
</div>
