<!DOCTYPE html>
<html>
  <head>
    <title>Workout App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <div class="navbar-brand">
            <%=  link_to 'Home', root_path %>
          </div>

          <% if @current_user.present?  %>
            <% if @current_user.admin? %>
              <div class="navbar-brand">
                <%= link_to 'Admin-Panel', users_path %>
              </div>
            <% end %>
            <div class="navbar-brand">
              <%=  link_to 'Profile', user_path(@current_user) %>
            </div>
            <div class="navbar-brand">
              <%=  link_to 'Measurements', measurements_path %>
            </div>
            <div class="navbar-brand">
              <%=  link_to 'Workouts', workouts_path %>
            </div>
            <div class="navbar-brand">
              <%=  link_to 'Exercises', exercises_path %>
            </div>
            <div class="navbar-brand">
              <%=  link_to "Log Out #{ @current_user.email }", login_path, :method => 'delete' %>
            </div>
          <% else %>
            <div class="navbar-brand">
              <%=  link_to 'Sign up', new_user_path %>
            </div>
            <div class="navbar-brand">
              <%=  link_to 'Log In', login_path %>
            </div>
          <% end %>
        </div>
      </nav>
    </div>

    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
